{
  "custom_id": {{ custom_id|tojson }},
  "method": "POST",
  "url": "/v1/chat/completions",
  "body": {
    "model": "{{ model }}",
    "messages": [
      {
        "role": "system",
        "content": "Tienes que realizar la tarea de Named Entity Recognition (NER) sobre el tema de la antigua ciudad de Babilonia. Tu tarea consiste en clasificar si una expresión dada en español es una named entity relevante para el tema o no (por ejemplo, expresiones literales, fechas, URLs, expresiones extensas…). Cada expresión se te da en una línea."
      },
      {
        "role": "user",
        "content": {{ phrases|tojson }}
      }
    ],
    "max_tokens": 2048,
    "top_p": 0,
    "temperature": 0,
    "frequency_penalty": 0,
    "presence_penalty": 0,
    "response_format": {
      "type": "json_schema",
      "json_schema": {
        "name": "phrase_list",
        "schema": {
          "type": "object",
          "required": [
            "phrases"
          ],
          "properties": {
            "phrases": {
              "type": "array",
              "items": {
                "type": "object",
                "required": [
                  "phrase",
                  "is_ne"
                ],
                "properties": {
                  "phrase": {
                    "type": "string",
                    "description": "La frase objeto de análisis."
                  },
                  "is_ne": {
                    "type": "boolean",
                    "description": "Indica si la frase es una Named Entity."
                  }
                },
                "additionalProperties": false
              },
              "description": "Una lista de frases con sus respectivos estados NE."
            }
          },
          "additionalProperties": false
        },
        "strict": true
      }
    }
  }
}